<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/layout.css" />

    <title>Document</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">LiftEasy</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Workout</a>
          </li>
          <div class="dropdown">
            <li class="nav-item dropdown dr">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="#">Username: </a>
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Progress</a>
                <a class="dropdown-item" href="#">LogBook</a>
                <a class="dropdown-item" href="#">Setting</a>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </nav>
    <div id="app" class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div id="choose-plan" v-if="choosing">
            <p>Have a look at your preview workout</p>
            <div
              class="card my-4"
              style="width: 18rem;"
              v-for="workoutPlan in workoutPlans"
            >
              <div class="card-body" @click="choosePlan(workoutPlan)">
                <h5 class="card-title">{{ workoutPlan.name }}</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
              </div>
            </div>
          </div>
          <div id="see-plan" v-if="!choosing">
            <p>Have a peek of your preview workout</p>
            <div class="card my-4" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ chosenPlan.name }}</h5>
                <p class="card-text">Sets: {{ chosenPlan.sets }}</p>
                <p class="card-text">Reps: {{ chosenPlan.reps }}</p>
                <p class="card-text">Rest time: {{ chosenPlan.rest_time }} second</p>
              </div>
            </div>
            <button type="button" class="btn btn-warning" @click="choosing= true">See Other Plans</button>
            <button type="button" class="btn btn-primary" @click="GoWorkout">Go Traning</button>
          </div>
        </div>
      </div>
    </div>

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <!-- bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/preview/preview.js"></script>
  </body>
</html>
