* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #f8f8f8;
}

#main {
  width: 1280px;
  height: 720px;
}

#stat {
  height: 100vh;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid grey;
}

#target {
  background-color: white;
}

.light {
  margin: 20px;
}

.count-rep-board {
  color: white;
  font-size: 50px;
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#signal {
  height: 50px;
  width: 50px;
  background-color: #f8f8f8;
  border-radius: 100%;
  border: 5px solid darkgrey;
}

.pose {
  height: 30px;
  width: 30px;
  background-color: #f8f8f8;
  border-radius: 100%;
  border: 5px solid darkgrey;
}
