.col-12 {
    display: flex;
    justify-content: center;
    height:10vh;
    font-size: 22px;
    
}


#mid {
    display: flex;
    justify-content: center;
}

.col-3 {
    display: flex;
    justify-content: center;
    height: 45vh;
    padding: 20px 5px;
    
    border-radius: 10px;
    align-content: center;
}
#navbarNavDropdown {
    display: flex;
    justify-content: flex-end;
    width: 80rem;
}

#progress {
    display: flex;
    justify-content: center;

}

#bottom {
    display: flex;
    justify-content: center;
    padding:20px 0px;
}

.jumbotron {
    height: 80vh;
    padding: 30px 40px;
    width: 35vw;
    color: white;
    background-color: black;
    
}
#box {
    opacity:0.8;
}

body {
    background-image: url(../img/workout3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#bar {
    background-color: black;
    opacity:0.8;
    color:white;
    border-radius: 5px;
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    
    }

.next-workout {
    font-family: Arial;
    font-style: italic;
}