.col-12 {
    display: flex;
    justify-content: center;
    height:10vh;
    font-size: 20px;
    color: white ;
    padding: 10px 0px;
    opacity: 80%!important;
}

#mid {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color:black;
    opacity: 80%!important;
    color:white;
}
.navbar-light .navbar-nav .nav-link {
color: white;

}
.navbar-light .navbar-brand {
color:white;
}
.col-4 {
    display: flex;
    justify-content: center;
    height: 45vh;
    padding: 20px 20px;
    border-radius: 10px;
    align-content: center;
    font-size: 20px;
}

.buttons {
    padding: 20px;
    
}

#navbarNavDropdown {
    display: flex;
    justify-content: flex-end;
    width: 80rem;
}
.jumbotron {
    width:32vw;
    padding:30px 36px;
    background-color:black;
    opacity: 80%!important;
    color:white;
}
.buttons {
    display: flex;
    justify-content: center;
}

body {
    background-image: url(../img/workout2.jpg);
    background-size: cover;
  background-repeat: repeat;
  height: 100vh;
}

.jumbotron p {
    font-size: 22px;
}

#jumbo {
 opacity:0.85;
}

#bar {
    opacity:0.85;
    border-radius: 5px;
}

.detail-grp {
    font-family: Arial;
    font-style:italic;
    font-size:22px;
}