<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/userProfile/css/setting.css" />
    <title>Setting</title>
  </head>
  <body>
    <div id="app" class="vw-100 vh-100">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LiftEasy</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link " href="/users/user/profile">Profile</a>
            <a class="nav-item nav-link " href="/users/user/progress">Progress</a>
            <a class="nav-item nav-link " href="/users/user/calendar">Calendar</a>
            <a class="nav-item nav-link " href="/users/user/log">Logbook</a>
            <a class="nav-item nav-link " href="/users/user/setting">Setting</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
          </div>
        </div>
      </nav>
      <div class="d-flex justify-content-center m-4">
        <div class="holder">
          <table width="100%">
            <tr>
              <td>Deload</td>
              <td>
                <div>
                  <input
                    type="checkbox"
                    v-bind:checked="setting.deload"
                    @click="checkDeload"
                  />
                  <span></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>Draw keypoints and skeleton</td>
              <td>
                <div>
                  <input
                    type="checkbox"
                    v-bind:checked="setting.need_spotter"
                    @click="checkDraw"
                  />
                  <span></span>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button type="button" class="btn btn-success" @click="submit">
                  {{ button }}
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <!-- bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- Customised JS -->
    <script src="/userProfile/script/setting.js"></script>
  </body>
</html>
