<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <title>Workout</title>
  </head>
  <body>
    <div class="spinner-border d-none" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="container-fluid w-100" id="app">
      <div class="row">
        <!-- Left side panel -->
        <div class="col">
          <!-- Camera -->
          <div class="row">
            <div class="col p-0" id="main">
              <video
                id="video"
                autoplay
                playsinline
                style=" -moz-transform: scaleX(-1);
                                      -o-transform: scaleX(-1);
                                      -webkit-transform: scaleX(-1);
                                      transform: scaleX(-1);
                                      display: none
                                      "
              ></video>
              <canvas id="output"></canvas>
            </div>
          </div>
          <!-- Panel below camera -->
          <div class="row">
            <div class="col">
              <div class="progress" style="height: 20px">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                  role="progressbar"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  v-bind:style="{ width: progress + '%'}"
                ></div>
              </div>
              <div
                id="panel"
                class="d-flex flex-row align-items-center justify-content-start w-100"
              >
                <div class="light">
                  <p>Pose confidence</p>
                  <div
                    v-bind:style="{ backgroundColor: posenetSignal}"
                    id="signal"
                    class="pose"
                  ></div>
                </div>
                <div class="light">
                  <p>{{ current.posture }}</p>
                  <div id="signal2" class="pose"></div>
                </div>
                <div class="light">
                  <p>squatUp</p>
                  <div id="signal3" class="pose"></div>
                </div>
                <div class="light">
                    <p>Parallel</p>
                    <div id="signal4" class="pose"></div>
                  </div>

                <div class="count-rep-board">
                  {{ current.count }} / {{ workoutPlan.reps }} Reps
                </div>
                <div class="count-rep-board">
                  {{ current.set }} / {{ workoutPlan.sets }} Sets
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Right side panel -->
        <div class="col d-flex flex-column justify-content-between" id="stat">
          <div class="non-setting">
            <h2>Target of the Day</h2>
            <div id="target">
              <div class="card mb-3 mt-4 p-2" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <div class="card-body p-2">
                      <h3 class="card-title">{{ current.posture }}</h3>
                      <!-- <p class="mb-1">Weight: {{ workoutPlan.weight }}kg</p> -->
                      <p class="mb-1">Reps: {{ workoutPlan.reps }}</p>
                      <p class="mb-1">Set: {{ workoutPlan.sets }}</p>
                      <p class="mb-1">
                        Rest: {{ workoutPlan.rest_time }} second
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h2>Posture Indicators</h2>
            <canvas id="myChart"></canvas>
          </div>
          <div class="setting rounded">
            <div class="collapse p-3 mb-2 border" id="collapseExample">
              <!-- Confidence Level -->
              <div class="">
                <label for="confidenceRange"
                  >Confidence Level for Pose Detection</label
                >
                <input
                  type="range"
                  class="custom-range"
                  min="0"
                  max="1"
                  step="0.1"
                  id="confidenceRange"
                  v-model="current.confidence"
                  :title="current.confidence"
                />
              </div>
              <!-- Stop the camera -->
              <div class="custom-control custom-switch">
                <input
                  @click="stop"
                  type="checkbox"
                  class="custom-control-input"
                  id="cameraSwitch"
                />
                <label class="custom-control-label" for="cameraSwitch"
                  >Disable Camera</label
                >
              </div>
              <!-- Toggle skeleton -->
              <div class="custom-control custom-switch">
                <input
                  @click="toggleDrawSkeleton"
                  type="checkbox"
                  class="custom-control-input"
                  id="skeletonSwitch"
                />
                <label class="custom-control-label" for="skeletonSwitch"
                  >Disable Skeleton</label
                >
              </div>
              <!-- Toggle keypoints -->
              <div class="custom-control custom-switch">
                <input
                  @click="toggleDrawKeypoints"
                  type="checkbox"
                  class="custom-control-input"
                  id="keypointsSwitch"
                />
                <label class="custom-control-label" for="keypointsSwitch"
                  >Disable Keypoints</label
                >
              </div>
              <!-- Initialise the workout -->
              <div class="">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#initializeModal"
                >
                  Initialize
                </button>
              </div>
            </div>
            <p>
              <button
                class="btn"
                type="button"
                data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <i class="fas fa-cog" style="font-size: 2.5rem"></i>
              </button>
            </p>
          </div>
          <!-- Modal for intialize  -->
          <div
            class="modal fade"
            id="initializeModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">
                    Warning
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure to initialize your workout?<br />You will lose
                  all training progress of today.
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Back
                  </button>
                  <button
                    @click="initialize"
                    type="button"
                    class="btn btn-primary"
                  >
                    Confirm
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Training Modal -->
          <div
            class="modal fade"
            id="endTrainingModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">
                    Congratulations
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>You have completed the training of the day!</p>
                </div>
                <div class="modal-footer">
                  <a href="/workout/finish"
                    ><button type="button" class="btn btn-primary">
                      Next
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Graph.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Boostrap -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- Posenet -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
    <!-- Customised JS -->
    <script src="./script/vue.js"></script>
    <script src="./script/components.js"></script>
    <script src="./script/chart.js"></script>
    <script src="./script/camera.js"></script>
    <script src="./script/workout.js"></script>
    <script src="./script/squat.js"></script>
    <script src="./script/draw.js"></script>
    <script src="./script/main.js"></script>
  </body>
</html>
