.col-12 {
    display: flex;
    justify-content: center;
    height:10vh;
    font-size: 22px;
    
}


#mid {
    display: flex;
    justify-content: center;
}

.col-3 {
    display: flex;
    justify-content: center;
    height: 45vh;
    padding: 20px 5px;
    
    border-radius: 10px;
    align-content: center;
}
#navbarNavDropdown {
    display: flex;
    justify-content: flex-end;
    width: 80rem;
}

#progress {
    display: flex;
    justify-content: center;

}

#bottom {
    display: flex;
    justify-content: center;
    padding:20px 0px;
}

.jumbotron {
    height: 40vh;
    padding: 30px 40px;
    width: 25vw;
}
