.col-12 {
    display: flex;
    justify-content: center;
    height:10vh;
}

#mid {
    display: flex;
    justify-content: center;
}

.col-3 {
    display: flex;
    justify-content: center;
    height: 60vh;
    padding: 20px 5px;
    border: 2px solid black;
    border-radius: 10px;
    align-content: center;
}
#navbarNavDropdown {
    display: flex;
    justify-content: flex-end;
    width: 80rem;
}
