* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(./signupBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  background-color: rgba(0, 0, 0, 0.7);
  height: 450px;
  width: 350px;
  border-radius: 10px;
}

#logo{
  width: 200px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 
form {
  background-color: rgba(0, 0, 0, 0.7);
  height: 450px;
  width: 350px;
  border-radius: 10px;
} */

#logo{
  display: block;
  text-align:center;
  width: 70%;
  border-radius: 10px
}
/*# sourceMappingURL=signup.css.map */

.motivation-video {
  padding: 90px 0 120px 0;
  height: 700px;
  width:100%;
  background-color: rgba(131, 130, 130, 0.25);
}

@media (max-width: 767px) {
  .motivation-video {
    height: 600px !important;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container.fullwidth {
  width: 100%;
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

video #bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover;
  }

  @media screen and (max-device-width: 800px) {
    html { background: url(polina.jpg) #000 no-repeat center center fixed;}
    #bgvid { display: none; }
    }

    body {
      margin: 0;
      background: #000; 
    }
    video { 
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
     background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
      background-size: cover;
      transition: 1s opacity;
    }
    .stopfade { 
       opacity: .5;
    }
    
    #polina { 
      font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
      font-weight:100; 
      background: rgba(0,0,0,0.3);
      color: white;
      padding: 2rem;
      width: 33%;
      margin:2rem;
      float: right;
      font-size: 1.2rem;
    }
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      margin-top: 0;
      letter-spacing: .3rem;
    }
    #polina button { 
      display: block;
      width: 80%;
      padding: .4rem;
      border: none; 
      margin: 1rem auto; 
      font-size: 1.3rem;
      background: rgba(255,255,255,0.23);
      color: #fff;
      border-radius: 3px; 
      cursor: pointer;
      transition: .3s background;
    }
    #polina button:hover { 
       background: rgba(0,0,0,0.5);
    }
    
    a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      background:rgba(0,0,0,0.5);
      padding: .5rem;
      transition: .6s background; 
    }
    a:hover{
      background:rgba(0,0,0,0.9);
    }
    @media screen and (max-width: 500px) { 
      div{width:70%;} 
    }
    @media screen and (max-device-width: 800px) {
      html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
      #bgvid { display: none; }
    }